@font-face {
  font-family: "Werewolf";
  src: url("../fonts/werewolf.ttf");
}

@font-face {
  font-family: "CaflischScriptPro";
  src: url("../fonts/caflischscriptpro-regular.otf");
}

.wod.actor .window-content .werewolf .wrap .toolbar .btn {
  font-family: Werewolf;
  font-size: 16px;
}

.wod.actor .window-content .werewolf .wrap .sheet-header .header-fields .logo {
  background-image: url("../ui/werewolf/logo-v20.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: auto 150px;
  min-height: 150px;
  height: 150px;
  max-height: 150px;
  margin-top: -30px;
}

.wod.actor .window-content .werewolf .wrap .sheet-header .header-fields .details .field-label {
  font-family: "CaflischScriptPro", Serif;
  font-weight: bold;
  font-size: 20px;
}

.wod.actor .window-content .werewolf .wrap .sheet-header .header-fields .sheet-tabs {
  font-family: "Werewolf", Serif;
  font-weight: bold;
  font-size: 20px;
}

.wod.actor .window-content .werewolf .wrap .sheet-body .section-header {
  background-image: url("../ui/werewolf/separator-short.png");
  background-repeat: repeat-x;
  background-size: 311px 37px;
  background-position-y: center;
}

.wod.actor .window-content .werewolf .wrap .sheet-body .section-header .section-title {
  background-color: white;
  font-family: "Werewolf", Serif;
  font-weight: bold;
  font-size: 30px;
  padding: 5px 10px 5px 10px;
  margin: 7px 10px 0 10px;
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0 0 10px white;
}

.wod.actor .window-content .werewolf .wrap .sheet-body .main .section-content .section-title {
  font-family: "Werewolf", Serif;
  font-weight: bold;
  font-size: 20px;
}
